<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <base href="~/" />
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <title>@ViewBag.Title</title>
</head>
<body>

    <h1>This is the common page it then renders each individual page</h1>

    <div class="">
        @RenderBody()
    </div>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

